In [272]:
import pandas as pd
import os
import csv
import numpy as np

In [273]:
file_csv = "Resources/purchase_data.csv"

In [274]:
purchase_data = pd.read_csv(file_csv)

In [275]:
purchase_data = pd.read_csv(file_csv)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [276]:
total = purchase_data["Purchase ID"].count()
total

780

In [277]:
# This shows total players
#purchase_data["Total Players"] = total

#purchase_data.head(1)

In [278]:
# Shows total players

player_count=pd.DataFrame([total], columns = ["Total Players"])
player_count

   Total Players
0            780

In [279]:
# Number of Unique Items
unique = len(purchase_data["Item Name"].unique())
unique

179

In [280]:
# Average Price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [281]:
# Number of purchases
total = purchase_data["Purchase ID"].count()
total

780

In [282]:
# Total revenue
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [283]:
# Purchasing Analysis Total
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique],
                                           "Average Price": [average_price],
                                           "Number of Purchases": [total],
                                           "Total Revenue": [revenue]})
purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [284]:
# This shows breakdown of Male/Female
count = purchase_data["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [285]:
# Variables for Gender Analysis

male = 652
percentage_male = male / total * 100
print(percentage_male)

female = 113
percentage_female = female / total * 100
print(percentage_female)

other = 15
percentage_other = other / total * 100
print(percentage_other)

83.58974358974359
14.487179487179489
1.9230769230769231

In [286]:
# Gender Demographics Dataframe

demographics_analysis = pd.DataFrame({"Total Count": [count]})
demographics_analysis

                                         Total Count
0  Male                     652
Female           ...

In [287]:
# Variables for Purchasing Analysis by Gender, average priceby gender


gend = purchase_data.groupby(["Gender"])

purch_Ct = gend["SN"].count()

purch_Pr = gend["Price"].mean()

purch_Val = gend["Price"].sum()

duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])


Purch_Ana_Gen = pd.DataFrame({"Purchase Count": purch_Ct,
                              "Average Purchase Price": purch_Pr,
                              "Total Purchase Value": purch_Val,
                              "Normalized Totals": purch_Norm})

Purch_Ana_Gen["Average Purchase Price"] = Purch_Ana_Gen["Average Purchase Price"].map("${:.2f}".format)
Purch_Ana_Gen["Total Purchase Value"] = Purch_Ana_Gen["Total Purchase Value"].map("${:.2f}".format)
Purch_Ana_Gen["Normalized Totals"] = Purch_Ana_Gen["Normalized Totals"].map("${:.2f}".format)
Purch_Ana_Gen = Purch_Ana_Gen[["Purchase Count", "Average Purchase Price", "Total Purchase Value", ]]
Purch_Ana_Gen

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

In [288]:
purchase_data.columns # wanted to see all columns in dataset

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [289]:
# Age Demographics
# Find Out Min and Max of age to decide how to group with 4 different age groups

maxage = purchase_data["Age"].max()
maxage

45

In [290]:
minage = purchase_data["Age"].min()
minage

7

In [292]:
# Seeing the max and min age allows me to be more specific when creating bins, instead of just having a bin labeled 45+
# Create 4 age groups
# Create bins
# Cut and slice data into groups
# Define labels and bin values


age_groups_bins = [7, 11, 15, 19, 23, 27, 31, 35, 39, 41, 45]
bin_names = ["7-11", "11-15", "15-19", "19-23", "23-27", "27-31", "31-35", "35-39", "39-41", "41-45"]

purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], age_groups_bins, labels=bin_names)
demograpic_analysis = purchase_data.groupby("Age Demographics")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-23
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,39-41
2,2,Ithergue48,24,Male,92,Final Critic,4.88,23-27
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,23-27
4,4,Iskosia90,23,Male,131,Fury,1.44,19-23