In [434]:
import pandas as pd
import os
import csv
import numpy as np

In [435]:
file_csv = "Resources/purchase_data.csv"

In [436]:
purchase_data = pd.read_csv(file_csv)

In [437]:
purchase_data = pd.read_csv(file_csv)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [438]:
total = purchase_data["Purchase ID"].count()
total

780

In [439]:
# This shows total players
#purchase_data["Total Players"] = total

#purchase_data.head(1)

In [440]:
# Shows total players

player_count=pd.DataFrame([total], columns = ["Total Players"])
player_count

   Total Players
0            780

In [441]:
# Number of Unique Items
unique = len(purchase_data["Item Name"].unique())
unique

179

In [442]:
# Average Price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [443]:
# Number of purchases
total = purchase_data["Purchase ID"].count()
total

780

In [444]:
# Total revenue
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [445]:
# Purchasing Analysis Total
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique],
                                           "Average Price": [average_price],
                                           "Number of Purchases": [total],
                                           "Total Revenue": [revenue]})
purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [446]:
# This shows breakdown of Male/Female
count = purchase_data["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [447]:
# Variables for Gender Analysis

male = 652
percentage_male = male / total * 100
print(percentage_male)

female = 113
percentage_female = female / total * 100
print(percentage_female)

other = 15
percentage_other = other / total * 100
print(percentage_other)

83.58974358974359
14.487179487179489
1.9230769230769231

In [448]:
# Gender Demographics Dataframe

demographics_analysis = pd.DataFrame({"Total Count": [count]})
demographics_analysis

                                         Total Count
0  Male                     652
Female           ...

In [449]:
# Variables for Purchasing Analysis by Gender, average priceby gender


gend = purchase_data.groupby(["Gender"])

purch_Ct = gend["SN"].count()

purch_Pr = gend["Price"].mean()

purch_Val = gend["Price"].sum()

duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])


Purch_Ana_Gen = pd.DataFrame({"Purchase Count": purch_Ct, 
                              "Average Purchase Price": purch_Pr.map("${:.2f}".format),
                              "Total Purchase Value": purch_Val.map("${:.2f}".format),
                              "Normalized Totals": purch_Norm.map("${:.2f}".format)})

Purch_Ana_Gen

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [450]:
purchase_data.columns # wanted to see all columns in dataset

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [451]:
# Age Demographics
# Find Out Min and Max of age to decide how to group with 4 different age groups

maxage = purchase_data["Age"].max()
maxage

45

In [452]:
minage = purchase_data["Age"].min()
minage

7

In [453]:
# Seeing the max and min allows me to be more specific when creating bins, redacting the need for 45+
# Create 4 age groups
# Create bins
# Cut and slice data into groups
# Define labels and bin values


age_groups_bins = [7, 11, 15, 19, 23, 27, 31, 35, 39, 41, 45]
bin_names = ["7-11", "11-15", "15-19", "19-23", "23-27", "27-31", "31-35", "35-39", "39-41", "41-45"]

purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], age_groups_bins, labels=bin_names)
demographic_analysis = purchase_data.groupby("Age Demographics")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-23
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,39-41
2,2,Ithergue48,24,Male,92,Final Critic,4.88,23-27
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,23-27
4,4,Iskosia90,23,Male,131,Fury,1.44,19-23

In [454]:
# Calculate Average Purchase Price

age_demo_totals = demographic_analysis ["Age Demographics"].value_counts()
agd_demo_percent = age_demo_totals / total * 100

age_demographics = pd.DataFrame({"Total Count": age_demo_totals, "Players Percentage": agd_demo_percent})
age_demographics = age_demographics.sort_index

age_demographics

<bound method DataFrame.sort_index of                                    Total Count  Players Percentage
Age Demographics Age Demographics
7-11             7-11                       30            3.846154
11-15            11-15                      47            6.025641
15-19            15-19                     101           12.948718
19-23            19-23                     298           38.205128
23-27            23-27                     150           19.230769
27-31            27-31                      60            7.692308
31-35            31-35                      45            5.769231
35-39            35-39                      27            3.461538
39-41            39-41                       8            1.025641
41-45            41-45                       5            0.641026>

In [455]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  # SN
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value


user_total = purchase_data.groupby(["SN"]).sum()["Price"]
user_average = purchase_data.groupby(["SN"]).mean()["Price"]
user_count = purchase_data.groupby(["SN"]).count()["Price"]

user_data = pd.DataFrame({"Total Purchase Amount": user_total.map("${:.2f}".format),
                          "Average Purchase Price": user_average.map("${:.2f}".format),
                          "Purchase Count": user_count})

user_data.sort_values("Total Purchase Amount", ascending=False).head(5)

             Total Purchase Amount Average Purchase Price  Purchase Count
SN
Haillyrgue51                 $9.50                  $3.17               3
Phistym51                    $9.50                  $4.75               2
Lamil79                      $9.29                  $4.64               2
Aina42                       $9.22                  $3.07               3
Saesrideu94                  $9.18                  $4.59               2

In [471]:
# Identify the 5 most popular items by purchase count, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value
    
item_id_count = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"]
item_price = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_id_sum = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]


item_id_data = pd.DataFrame({"Purchase Count": item_id_count,
                          "Total Purchase Value": item_id_sum.map("${:.2f}".format),
                            "Item Price": item_price})
                         

item_id_data.sort_values("Purchase Count", ascending=False).head(5)

,,Purchase Count,Total Purchase Value,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,4.23
145,Fiery Glass Crusader,9,$41.22,4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,3.53
82,Nirvana,9,$44.10,4.90
19,"Pursuit, Cudgel of Necromancy",8,$8.16,1.02

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

In [ ]:
# Three Conclusions Obtained by Data
    #1.